@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  height: 562px;
  padding: 20px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1000;
}

.modal-content {
  position: relative;

  && form {
    /* width: 100%; */
  }
}

.close-button {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.modal-contents {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.modal-contents form label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: "GowunBatang-Regular";
}

.modal-contents form label input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-contents form button {
  padding: 10px 20px;
  background-color: #578f6e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "GowunBatang-Regular";
  margin-bottom: 5px;
}

.modal-contents form button:hover {
  background-color: #40a76a;
}
