@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  font-family: "GowunBatang-Regular", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: #f8f9fa; /* 배경색 추가 */
}

.main-content {
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  overflow: auto;
  background-color: #edf7e2;
}
